.app-container{
    display: flex;
    flex-direction: column;
    background-color: #34495e ;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
}

.main-heading{
    color: #29e1e4;
    font-family: "Roboto";
}